/* ============================================== /*
 *                  Contact Us
/* ============================================== */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { padding: 5px; border: 0px; vertical-align: middle; }

table th { font-size: 15px; }
table td { font-size: 15px; }

label { margin: 0px; }
input[type=checkbox], input[type=radio] { margin: 0px; }

#contactus { padding: 120px 0px 60px 0px; }

#contactus .scroll { overflow-y: scroll; margin-top: 12px; padding: 15px 20px; height: 200px; background-color: #F7F7F7; border: 1px solid #dedede; }
#contactus .scroll b { line-height: 1.8em; }
#contactus .scroll span { font-size: 14px; line-height: 2.4em; color: #777; }

#contactus .check_agree input { margin-right: 5px; }
#contactus .check_agree label { font-size: 13px; }

#contactus .contact-title { margin-top: 50px; margin-bottom: 10px; font-size: 20px; font-weight: 600; color: #3f3f3f; }
#contactus .contact-title span { margin-left: 6px; font-size: 12px; }
#contactus .contact-box { margin-top: 12px; padding: 25px; background-color: #F7F7F7; border: 1px solid #dedede; }
#contactus .contact-box table { margin-bottom: 0px; }
#contactus .contact-box input { width: 80%; }
#contactus .contact-box .consult_cat+label { margin-right: 5px; font-size: 12px; }
#contactus .contact-textarea { width: 100%; height: 150px; border: 1px solid #dedede; resize: none; }
#contactus .contact-button button { margin-top: 30px; background: #847d46; border: 0px; padding: 10px 30px; color: #fff; transition: 0.4s; border-radius: 8px; cursor: pointer; }
#contactus .contact-button button:hover { background: #5f5b3c; }

@media (max-width: 767px) {
	table th { font-size: 12px; }
	label { font-size: 12px; }
	input { font-size: 12px; }
	#contactus .scroll { padding: 8px; font-size: 14px; }
	#contactus .scroll span { font-size: 12px; line-height: 1em; }
	#contactus .contact-box { padding: 8px; }
}

@media (min-width: 768px) and (max-width: 991px) {
	table th { font-size: 12px; }
	label { font-size: 12px; }
	input { font-size: 12px; }
}