/* ============================================== /*
 *                     Main
/* ============================================== */

/* Main-Global */
.cover { position: relative; width: 100%; height: 100%; background-color: rgba(0,0,0,0.0); }
.cover .area { position: relative; top: 50%; transform: translateY(-50%); text-align: center; }

/* Main */
#sect1 { background-color: #2096cd; }
#sect2 { background-color: #2096cd; }
#sect3 { background-color: #2096cd; }
#sect4 { background-color: #3d7fa2; }
#sect5 { background-color: #3d7fa2; }

/* Sect1 */
#sect1 .contents { clear: both; margin: 0 auto; display: inline-block; position: relative; width: 1170px; }
#sect1 .contents .left { float: left; margin-top: 30px; margin-left: 100px; }
#sect1 .contents .left .cont-img img { width: 400px; }
#sect1 .contents .right { float: right; margin-top: 170px; margin-right: 20px; text-align: left; }
#sect1 .contents .right .title img { margin-bottom: 25px; width: 380px; }
#sect1 .contents .right .text { font-size: 19px; color: #fff; }

/* Sect2 */
#sect2 .contents { clear: both; margin: 0 auto; display: inline-block; position: relative; width: 1170px; }
#sect2 .contents .left { float: left; margin-top: 160px; margin-left: 50px; text-align: left; }
#sect2 .contents .left .title img { margin-bottom: 25px; width: 480px; }
#sect2 .contents .left .point { position: absolute; top: 85px; margin: 0; }
#sect2 .contents .left .point img { width: 90px; }
#sect2 .contents .left .text { font-size: 19px; color: #fff; }
#sect2 .contents .right { float: right; margin-right: 40px; }
#sect2 .contents .right .cont-img img { width: 350px; }

/* Sect3 */
#sect3 .contents { clear: both; margin: 0 auto; display: inline-block; position: relative; width: 1170px; }
#sect3 .contents .left { float: left; margin-left: 30px; }
#sect3 .contents .left .cont-img img { width: 620px; }
#sect3 .contents .right { float: right; margin-top: 50px; margin-right: 0px; text-align: left; }
#sect3 .contents .right .title img { margin-bottom: 20px; width: 420px; }
#sect3 .contents .right .text { font-size: 19px; color: #fff; }

/* Sect4 */
#sect4 .back_img { position: absolute; bottom: 0; right: 200px; }
#sect4 .back_img img { width: 465px; }

#sect4 .contents { clear: both; margin: 0 auto; display: inline-block; position: relative; width: 1170px; }
#sect4 .contents .left { float: left; text-align: left; }
#sect4 .contents .left .title { margin-left: 15px; }
#sect4 .contents .left .title img { margin-bottom: 20px; width: 580px; }
#sect4 .contents .left .text { margin-left: 15px; font-size: 19px; color: #fff; }
#sect4 .contents .left .solutions { margin-top: 35px; width: 760px; }
#sect4 .contents .left .solutions .box-img { background: transparent; text-align: center; padding: 20px 0px; min-height: 280px; position: relative; transition: ease all 0.5s; }
#sect4 .contents .left .solutions .box-img img { width: 70%; height: auto; border-radius: 50%; }
#sect4 .contents .left .solutions .box-img p { transition: all 0.4s ease 0s; letter-spacing: 0px; color: #fff; text-shadow: 0px 0px 5px #555; }
#sect4 .contents .left .solutions .box-img p:nth-child(2) { margin-top: 10px; font-family: 'Notosans-Bold'; font-size: 24px; }
#sect4 .contents .left .solutions .box-img p:nth-child(3) { font-size: 16px; }
#sect4 .contents .left .solutions .box-img:hover { cursor: pointer; transform: scale(1.1); background: rgba(0,0,0,0.3); }
#sect4 .contents .left .solutions .box-img:hover p { color: #eee; text-shadow: 0px 0px 5px #555; }

/* Sect5 */
#sect5 .footer { display: flex; margin: 0 auto; max-width: 1170px; font-size: 18px; color: #fff; text-align: left; }
#sect5 .footer .foot_cont p { text-shadow: 0px 0px 5px #555; }
#sect5 .footer .foot_cont p:nth-child(1) { margin-bottom: 20px; font-size: 15px; }
#sect5 .footer .foot_cont p:nth-child(2) { margin-bottom: 20px; }
#sect5 .footer .foot_cont p:nth-child(2) b { font-size: 18px; padding-right: 2px; }
#sect5 .footer .foot_cont .sns a { display: inline-block; margin: 8px; color: #fff; }
#sect5 .footer .foot_cont .sns a i { font-size: 30px; }
#sect5 .footer .foot_logo { display: inline-block; margin: 0 auto; padding: 50px; width: 100%; text-align: center; }
#sect5 .footer .foot_logo img { width: 60%; }