/* ============================================== /*
*                    Notice
/* ============================================== */

#notice { padding: 120px 0px; min-height: 820px; }

#notice .search-bar { display: inline-block; margin-bottom: 15px; }
#notice .search-bar select { height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; }

#notice .vboard .table { margin: 0px; border-top: 3px solid #5f5b3c; border-bottom: 2px solid #5f5b3c; background-color: #fff; color: #61625b; }
#notice .vboard .table tr:nth-child(odd) { background-color: #f7f7f7; }
#notice .vboard .table tr th { text-align: center; border-bottom: 1px solid #aaa !important; color: #5f5b3c; }
#notice .vboard .table tr td { text-align: center; }
#notice .vboard .table tr td a { color: #555; }
#notice .vboard .table tr td p { margin: 0px; }
#notice .vboard .table tr td:nth-child(2) p { font-size: 15px; font-weight: bold; }
#notice .vboard .table tr td:nth-child(3) p,
#notice .vboard .table tr td:nth-child(4) p { font-size: 15px; color: #777; }

#notice .vboard-paging { text-align: center; }
#notice .vboard-paging .pagination > li > a,
#notice .vboard-paging .pagination > li > span { color: #5f5b3c; }
#notice .vboard-paging .pagination > li > a:focus,
#notice .vboard-paging .pagination > li > a:hover,
#notice .vboard-paging .pagination > li > span:focus,
#notice .vboard-paging .pagination > li > span:hover { color: #5f5b3c; }
#notice .vboard-paging .pagination > .active > a,
#notice .vboard-paging .pagination > .active > a:focus,
#notice .vboard-paging .pagination > .active > a:hover,
#notice .vboard-paging .pagination > .active > span,
#notice .vboard-paging .pagination > .active > span:focus,
#notice .vboard-paging .pagination > .active > span:hover { background-color: #5f5b3c; border: 1px solid #5f5b3c; font-weight: bold; color: #fff; }

