/* ============================================== /*
*                    QnA
/* ============================================== */

#qna { padding: 120px 0px; min-height: 820px; }

#qna .search-bar { display: inline-block; margin-bottom: 15px; }
#qna .search-bar select { height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; }

#qna .vboard .table { margin: 0px; border-top: 3px solid #5f5b3c; border-bottom: 2px solid #5f5b3c; background-color: #fff; color: #61625b; }
#qna .vboard .table tr th { text-align: center; border-bottom: 1px solid #aaa !important; color: #5f5b3c; }
#qna .vboard .table tr td { text-align: center; }
#qna .vboard .table tr td a { color: #333; }
#qna .vboard .table tr td p { margin: 0px; }
#qna .vboard .table tr td span { float: left; margin-right: 5px; padding: 13px; }
#qna .vboard .table tr td:nth-child(2) p { font-size: 15px; font-weight: bold; }
#qna .vboard .table tr td:nth-child(3) p,
#qna .vboard .table tr td:nth-child(4) p { font-size: 15px; color: #777; }
#qna .vboard .table tr.reply td { background-color: #f5f5f5; }
#qna .vboard .table tr.reply td p { color: #555; }

#qna .vboard-paging { margin-bottom: 20px; display: inline-block; width: 100%; text-align: center; }
#qna .vboard-paging .pagination > li > a,
#qna .vboard-paging .pagination > li > span { color: #5f5b3c; }
#qna .vboard-paging .pagination > li > a:focus,
#qna .vboard-paging .pagination > li > a:hover,
#qna .vboard-paging .pagination > li > span:focus,
#qna .vboard-paging .pagination > li > span:hover { color: #5f5b3c; }
#qna .vboard-paging .pagination > .active > a,
#qna .vboard-paging .pagination > .active > a:focus,
#qna .vboard-paging .pagination > .active > a:hover,
#qna .vboard-paging .pagination > .active > span,
#qna .vboard-paging .pagination > .active > span:focus,
#qna .vboard-paging .pagination > .active > span:hover { background-color: #5f5b3c; border: 1px solid #5f5b3c; font-weight: bold; color: #fff; }

#qna .reply_area { clear: both; position: relative; }
#qna .reply_area .board_reply_form { padding: 10px; border-top: 1px solid #ddd; }
#qna .reply_area .board_reply_form .hr { margin: 20px 0px; border-bottom: 1px solid #aaa; }
#qna .reply_area .board_reply_form .reply_info { margin-bottom: 3px; display: inline-block; width: 100%; vertical-align: middle; }
#qna .reply_area .board_reply_form .reply_info .left { float: left; }
#qna .reply_area .board_reply_form .reply_info .left input { margin-right: 5px; padding: 4.5px 7px; font-size: 13px; color: #555; }
#qna .reply_area .board_reply_form .reply_info .right { float: right; color: #fff; }
#qna .reply_area .board_reply_form .reply_info .right .btn { font-size: 12px; background-color: #847d46; outline: none; }
#qna .reply_area .board_reply_form .reply_info .right .btn:hover,
#qna .reply_area .board_reply_form .reply_info .right .btn:focus { background-color: #5f5b3c; color: #fff; }
#qna .reply_area .board_reply_form .reply_info .reply_text { clear: both; }
#qna .reply_area .board_reply_form .reply_info .reply_text textarea { margin-top: 8px; padding: 4.5px 7px; width: 100%; font-size: 13px; color: #555; resize: none; }