/* ============================================== /*
 *                   Radon Dr.
/* ============================================== */

/* Brand */
#brand { padding: 0px 0px 60px 0px; }
#brand .brand p { padding: 0px 30px; }

/* Tech */
#tech { padding: 60px 0px; text-align: center; }
#tech .tech .tech_1 img { width: 80%; }
#tech .tech .tech_1 p { margin-bottom: 20px; font-size: 16px; color: #555; }
#tech .tech .tech_1 p b { font-size: 18px; }
#tech .tech .tech_2 table { text-align: center; }
#tech .tech .tech_2 table th { text-align: center; }
#tech .tech .tech_2 table td:nth-child(1) { text-align: left; }

/* Certification */
#certification { padding: 60px 0px; }
#certification .certi { padding: 0px 30px; }
#certification .certi .certi_1 { margin-bottom: 50px; }
#certification .certi .certi_2 { margin-bottom: 50px; }
#certification .certi .certi_2 table { text-align: center; }
#certification .certi .certi_2 table th { text-align: center; }
#certification .certi .certi_3 img { width: 100%; }

/* Freezone */
#freezone { padding: 60px 0px; }
#freezone .free p { padding: 0px 30px; }
#freezone .free img { margin-bottom: 50px; width: 70%; }



