/* ============================================== /*
 *                   Solution
/* ============================================== */

/* Solution */
#solution { padding: 120px 0px 100px 0px; }

.solution .sol_1 { margin-bottom: 50px; display: inline-block; text-align: center; }
.solution .sol_1 p { padding: 0px 30px; }
.solution .sol_1 p:nth-child(1) { margin-bottom: 30px; font-size: 20px; font-weight: bold; }

.solution .sol_2 { display: inline-block; text-align: center; }
.solution .sol_2 .step { float: left; }
.solution .sol_2 .step img:nth-child(1) { margin: 0 auto; margin-bottom: 15px; width: 50%; text-align: center; }
.solution .sol_2 .step p:nth-child(2) { margin-bottom: 10px; font-size: 22px; font-weight: bold; color: #555; }
.solution .sol_2 .step p:nth-child(3) { font-size: 14px; color: #999; }
.solution .sol_2 .step.ms { width: 234px; }
.solution .sol_2 .step.rdr { width: 292.5px; }
.solution .sol_2 .step.gw { width: 292.5px; }

.solution .sol_3 { margin-top: 30px; clear: both; text-align: center; }
.solution .sol_3 .btn { padding: 10px 20px; font-size: 16px; letter-spacing: 1px; background-color: #847d46; color: #fff; outline: none; }
.solution .sol_3 .btn:hover { background-color: #5f5b3c; }