/* ============================================== /*
 *                   Solution
/* ============================================== */

/* Solution */
#solution { padding: 0px 0px 60px 0px; }

#solution .sol_1 { margin-bottom: 50px; text-align: center; }
#solution .sol_1 p { padding: 0px 30px; }

#solution .sol_2 .box-img { background: transparent; text-align: center; padding: 30px; min-height: 280px; position: relative; transition: ease all 0.5s; }
#solution .sol_2 .box-img img { width: 68%; height: auto; border-radius: 50%; }
#solution .sol_2 .box-img p { transition: all 0.4s ease 0s; letter-spacing: 0px; color: #555; }
#solution .sol_2 .box-img p:nth-child(2) { margin-top: 10px; font-family: 'Notosans-Bold'; font-size: 24px; }
#solution .sol_2 .box-img p:nth-child(3) { font-size: 16px; }
#solution .sol_2 .box-img:hover { cursor: pointer; transform: scale(1.1); background: rgba(0,0,0,0.5); }
#solution .sol_2 .box-img:hover p { color: #fff; text-shadow: 0px 0px 5px #555; }

/* USA */
#usa { padding: 0px 0px 60px 0px; }
#usa .usa { margin-bottom: 50px; }