/* ============================================== /*
 *                   Sub-page
/* ============================================== */
.sub-position { margin-top: 550px; }
.sub-position .container { position: relative; background-color: #fff; z-index: 1; }

#sub-bg { position: absolute; top: 0; width: 100%; height: 650px; }

#sub-bg .subpage-banner { margin-top: 60px; }
#sub-bg .subpage-banner .banner-cover { background-color: rgba(0, 0, 0, 0.8); background-repeat: repeat; width: 100%; height: 650px; position: absolute; top: 60px; left: 0; }
#sub-bg .subpage-banner .banner-cover p { color: #fff; }
#sub-bg .subpage-banner .banner-cover p:nth-child(1) { margin-top: 130px; font-size: 20px; }
#sub-bg .subpage-banner .banner-cover p:nth-child(2) { margin-left: -5px; font-family: 'Notosans-Bold'; font-size: 80px; line-height: 85px; }
#sub-bg .subpage-banner .banner-cover p:nth-child(3) { margin-top: 20px; font-size: 18px; line-height: 1.8em; }

#sub-bg .subpage-banner .banner-background { margin: 0 auto; padding: 80px 0px; width: 100%; height: 650px; background-color: #222; }
#sub-bg .subpage-banner .banner-background.radondr { background: url("../images/radondr/bg.jpg"); background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; text-align: center; }
#sub-bg .subpage-banner .banner-background.solution { background: url("../images/solution/bg.jpg"); background-repeat: no-repeat; background-position: 50% 50%; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; text-align: center; }

#sub-bg .subpage-banner .banner-img { position: relative; z-index: 999; }
#sub-bg .subpage-banner .banner-img .radondr { position: absolute; top: -626px; right: 60px; }
#sub-bg .subpage-banner .banner-img .radondr img { width: 470px; }
#sub-bg .subpage-banner .banner-img .solution { position: absolute; top: -620px; right: 45px; }
#sub-bg .subpage-banner .banner-img .solution img { width: 480px; }

@media (max-width: 550px) {
	#sub-bg .subpage-banner .banner-cover p br { display: none; }
}
@media (max-width: 767px) {
	.sub-position { margin-top: 0px; }
	#sub-bg { position: relative; height: auto; }
	#sub-bg .subpage-banner { position: relative; }	
	#sub-bg .subpage-banner .banner-cover { position: relative; top: 0 !important; height: auto; }
	#sub-bg .subpage-banner .banner-cover p:nth-child(1) { margin-top: 25px; font-size: 12px; }
	#sub-bg .subpage-banner .banner-cover p:nth-child(2) { padding-left: 3px; font-size: 38px; line-height: 56px; }
	#sub-bg .subpage-banner .banner-cover p:nth-child(3) { margin-top: 15px; padding-bottom: 32px; font-size: 12px; }

	#sub-bg .subpage-banner .banner-background { position: absolute; top: 0; padding: 150px 0px; height: auto; z-index: -1; }
}
@media (max-width: 991px) {
	#sub-bg .subpage-banner { margin-top: 50px; }
    #sub-bg .subpage-banner .banner-cover { top: 50px; }
    #sub-bg .subpage-banner .banner-cover .row { margin: 0; }    
}
@media (max-width: 1199px) {
	#sub-bg .subpage-banner .banner-img { display: none; }
}